<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

  <p>
    <strong>Community ID:</strong>
    <%= post.community_id %>
  </p>

  <p>
    <strong>Community Name:</strong>
    <%= post.community.name %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= post.user.email %>
  </p>
</div>
